<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Loga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="#">All products</a>
            <a class="nav-item nav-link" href="#">My products</a>
            <a class="nav-item nav-link" href="/logout">Log out</a>
        </div>
    </div>
</nav>
<div class="container" style="width: 500px; margin: auto;">
    <h1>Add blog!</h1>
    <form method="POST" action="/blogs/add">
        <label>Topic</label>
        <input type="text" name="topic" class="form-control">

        <label>Body</label>
        <textarea type="text" name="body" class="form-control" rows="5"></textarea>
        <br>

        <br>

        <button class="btn btn-primary" type="submit">Submit blog</button>
    </form><br>


</div>
</body>
</html>